@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

* {
    margin: 0;
    padding: 0;
}

header>nav>ul {
    list-style: none;
    overflow: hidden;
    background-color: black;
}

header>nav>ul li {
    list-style: none;
    margin: 0 13px;
    padding: 15px 15px 5px 15px;
    float: right;
}

ul>li>a{
    text-decoration: none;
    color: white;
}

#logo {
    white-space: nowrap;
    text-decoration: dotted;
    font-family: 'Cinzel Decorative', cursive;
    background: linear-gradient(to bottom, aqua, #08f2);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;    
    text-transform: uppercase;
    font-weight: bold;
    float: left;
}